$media-desktop: 'only screen and (max-width : 1420px)';
$media-tablet: 'only screen and (max-width : 1020px)';
$media-mobile: 'only screen and (max-width : 765px)';

$abn-green: #00716b;
$abn-yellow: #ffd200;
$abn-hover-green: #0d8e8b;
$black: #3d3d3d;
$grey: #1e1e1e;
$light-grey: #f2f2f2;
